<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<mat-card class="card-dashboard" *ngIf="weather">
  <mat-card-header>
    <mat-card-title style="font-size:28px; font-weight: bold; color:#4253af">Méteo</mat-card-title>
    <mat-card-subtitle>Aujourd'hui</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   <p> Conditions : {{weather.condition}} </p>
   <p> Température minimum : {{weather.tempMin}} °C</p>
   <p> Température maximum : {{weather.tempMax}} °C</p>
  </mat-card-content>
</mat-card>
<mat-card class="card-dashboard" *ngIf="pollition">
  <mat-card-header>
    <mat-card-title style="font-size:28px; font-weight: bold; color:#4253af">Pollution</mat-card-title>
    <mat-card-subtitle>Aujourd'hui</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   <p> Indice : {{pollition.indice}} </p>
   <p> Pm10 : {{pollition.pm10}} </p>
  </mat-card-content>
</mat-card>
<mat-card class="card-dashboard" *ngIf="theft">
  <mat-card-header>
    <mat-card-title style="font-size:28px; font-weight: bold; color:#4253af">Vol de vélos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <p style="font-weight: bold"> Nombre de vélos volés : {{theft.length}} </p>
   
   <table>
      <tr>
        <th>Localisation</th>
        <th>Propriétaire</th>
        <th>Date du vol</th>
      </tr>
      <tr *ngFor="let velo of theft">
        <td *ngIf="velo.location">{{velo.location}}</td>
        <td style="font-style:italic" *ngIf="!velo.location">Aucune donnée</td>
        <td *ngIf="velo.owner">{{velo.owner}}</td>
        <td style="font-style:italic" *ngIf="!velo.owner">Aucune donnée</td>
        <td *ngIf="velo.date">{{velo.date | date}}</td>
        <td style="font-style:italic" *ngIf="!velo.date">Aucune donnée</td>
      </tr>
   </table>

  </mat-card-content>
</mat-card>
<mat-card class="card-dashboard" *ngIf="warning">
  <mat-card-header>
    <mat-card-title style="font-size:28px; font-weight: bold; color:#4253af">Alertes météo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
   <table>
      <tr>
        <th>Couleur</th>
        <th>Phénomène dangereux</th>
        <th>Département</th>
      </tr>
      <tr *ngFor="let alert of warning">
        <td *ngIf="alert.couleur">{{alert.couleur}}</td>
        <td style="font-style:italic" *ngIf="!alert.couleur">Aucune donnée</td>
        <td *ngIf="alert.phenomenon">{{alert.phenomenon}}</td>
        <td style="font-style:italic" *ngIf="!alert.phenomenon">Aucune donnée</td>
        <td *ngIf="alert.departement">{{alert.departement}}</td>
        <td style="font-style:italic" *ngIf="!alert.departement">Aucune donnée</td>
        </tr>
   </table>
  
  </mat-card-content>
</mat-card>




